.wrapper {
    width: 100%;
}
.wrapper iframe {
    width: 100%;
    height: 400px;
}

.imageCarouselModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
    box-shadow: 24px;
    border-radius: 0.5rem;
    padding: 1rem;
}

.bookingModal {
    text-align: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    border-radius: 20px;
    background-color: white;
}

@media (max-width: 1024px) {
    .bookingModal {
        text-align: left;
        padding: 1.5rem;
    }
}
